set timeout=10
set default=1

menuentry "QARMA (Silent Mode)" {
  multiboot2 /boot/qarma.elf verbosity=silent
  boot
}

menuentry "QARMA (Normal Mode)" {
  multiboot2 /boot/qarma.elf verbosity=minimal
  boot
}

menuentry2 "QARMA (Verbose Mode)" {
  multiboot /boot/qarma.elf verbosity=verbose
  boot
}